    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/feedStyle.css'/>

    <!--NavBar-->
    <div class="navbarw">
        <a href="/">Home</a>
        <a href="/feed">Main Feed</a>
        <a href="/Report">Add Report</a>
        <!--DropDown with links to Feed of Open Reports Sorted by building-->
        <div class="dropdownw">
            <button class="dropbtnw">Open Building Reports
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-contentw">
                <a href="/feedOpenIT">IT</a>
                <a href="/feedOpenMoffetts">Moffetts</a>
                <a href="/feedOpenOrbsen">Orbsen</a>
                <a href="/feedOpenConcourse">Concourse</a>
            </div>
        </div>
        <a href="/feedClosed">Closed Reports</a>
    </div>


    <!--BootStrp grid with 3 colums of Reports-->
    <div id= "posts" class="row" style="text-align: center">
      <div class="col-md-4 text-white bg-dark" style="text-align: center">
        <div id="SimilarReportsL">
        </div>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div id="SimilarReportsM">
        </div>
      </div>
      <div class="col-md-4 bg-dark">
        <div class="container">
          <div id="SimilarReportsR" class="text-white">
          </div>
        </div>
      </div>



<!--Model to expand image on click-->
  <div id="id01" class="modal">

    <form class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
          title="Close Modal">&times;</span>
        <div class="container" id="innerimage">

        </div><br><br><br><br><br><br><br><br><br><br>
      </div>
    </form>
</div>
    <script>

      $("#posts").click(function (event) {
        if (event.target.name=="img"){
        var targetArray = event.target.name
        console.log(targetArray);

        var innerImage = "<img src= '" + event.target.src + "' style='width: 80%; height: 80%'>"

        //var innerImage= "<h1>"+event.target.src+"</h1>";
        $("#innerimage").html(innerImage);
      }}
      );

      var str = "document.getElementById('id01').style.display='block'"
      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>

    <!--    
    file which will contain all of the client side
JavaScript that will be used to make 
asynchronous calls to server side APIs-->
    <script src="/javascripts/OpenBuildingFeeds/feedOpenIT.js"></script>

