<div class="row" style="text-align: center">
    <!-- Reports less than 24hours old-->
    <div class="col-md-4 text-white bg-dark">
        <h1>Today</h1><br>
            <div id="todaysPosts" class="text-white">
            </div>
    </div>
    <!-- Reports between 1 and 7 days old-->
    <div class="col-md-4">
        <h1>This Week</h1><br>
        <div id="weeklyPosts">
        </div>
    </div>
    <!-- Reports Greater than 7 days old-->
    <div class="col-md-4 text-white bg-dark">
        <h1>Older</h1><br>
        <div id="OlderPosts">
        </div>
    </div>  
</div>
    <!--    
    file which will contain all of the client side
JavaScript that will be used to make 
asynchronous calls to server side APIs-->
<script src="/javascripts/feedOpenIT.js"></script>

