<html>

<body>
    <div class="container">
        <div class="row"> 
                <div class ="col-md-6">
                        <h1>Fault</h1><a href="/Report" class="btn btn-primary">Add Report</a>
                </div>
                
                <div class ="col-md-6">
                        <h1>Maintenance staff</h1><a href="/feed" class="btn btn-primary">Manage Faults</a>
                </div>
       </div>
    </div>
</body>

</html>
