<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Adding bootstrap cnd-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>



   {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Enter Feedback here" size="100%">
      <button class="btn btn-outline-success my-2 my-sm-0" onclick="submitFeeback()">Submit Feedback</button>
    </form>
  <script>

    function submitFeeback(){
      $.ajax({
            url: '/AddFeedback',
            type: 'post',
            data: {feedback :$('#submitFeedback').val()},
            success: function (response) {
              if (response != 0) {
                alert(response);
              } else {
                alert('Error!!');
              }
            },
          });
    }
  </script>
</nav> --}}
    {{{body}}}
  </body>
</html>
