<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--Adding bootstrap cnd-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
