<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel='stylesheet' href='/stylesheets/feedStyle.css'/>

<!--NavBar-->
    <div class="navbarw">
        <a href="/">Home</a>
        <a href="/feed">Main Feed</a>
        <a href="/Report">Add Report</a>
        <a href="/buildingFeed">View Building</a>

        <a href="/feedClosed">Closed Reports</a>
        <a href="/EnterReportRatings">Train Classifier</a>
        <a href="/UrgentReports">Urgent</a>
    </div>
    
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Classifier Training</h1>
    <p class="lead"> Here you can train the NLP clasifier, which uses logistical Regression to classify Reports
        <br> into three sections: </p>
         <ul>
            <li>(-1) Delete </li>
            <li>( 1) Nonurgent</li>
            <li>( 2) Urgent </li>
        </ul>

        <br>
        <p class="lead">
        Click the 'Rank Reports' button to display all unranked Reports.<br>
        Select a Rating value for each report by clicking the buttons below. <br>
        Click the 'Train Classifier' button.<br>
        The Reports and the ratings you have assigned will be used to train the classifier. <br>
        The classifier will then be applied to all new incoming reports 
        <br> and a suggested rating will be assigned to each.   
    </p>
  </div>
</div>

<button id="Rank" class="btn btn-primary" >Rank Reports</button>



<div class="container">
    
    <div class="row" id="SimilarReports">
        <div class="col-md-4 text-white bg-dark">
            <div id="SimilarReportsL">
            </div>
        </div>
        <div class="col-md-4" style="padding: 10px;">
            <div id="SimilarReportsM">
            </div>
        </div>
        <div class="col-md-4 bg-dark">
            <div class="container">
                <div id="SimilarReportsR" class="text-white">
                </div>
            </div>
        </div>
    </div>
</div>
<button id="Train" class="btn btn-success">Train Classifier</button>

<script>

    /*when users selects an option for builiding element
      makes get request to different route depending of value chosen
    */
    function getUnrankedReports(str) {
        
        $.ajax({
            url: str,
            type: 'GET',
            success: function (data) {
                console.log(data)
                console.log("Number of Reports: " + data.length)
                //3 variables for each col of bootstrap grid
                var postsL = "";
                var postsM = "";
                var postsR = "";
                for (var i = 0; i < data.length; i++) {

                    /*Creates a string of HTML,CSS and data on each Report
                    Assigns it to a temporary variable and reassigns for each Report
                    */
                    posts = " <div class='row'><div class='col-sm-6'>"
                        + "<img src= '/" + data[i].image_file_name +
                         "' style='width: 80%; height:  100%;'></div><div class='col-sm-6'>" +
                        "<p>" + data[i].description + "</p>" + "<p>Building: " +
                        data[i].building + "</p>" + "<p>RoomNo:" + data[i].room_number +
                             "</p> Suggested Rating:"+ data[i].classifier_suggested_rating 
                        + "<br><br>Select Rating Below: <br><button  name='-1 " +
                         data[i]._id + "' '>-1</button> "  //false 
                         + " <button  name='1 " +
                         data[i]._id + "' '>1</button> "     //noturgent
                         + " <button  name='2 " +
                         data[i]._id + "' '>2</button> "     //Urgent
                        + "</p></div></div><br>";

                    //Ensures even distribution of Reports across 3 columns
                    if ((i + 1) % 3 == 0) {
                        postsR += posts;
                    } else if ((i + 1) % 2 == 0) {
                        postsM += posts;
                    } else {
                        postsL += posts;
                    }

                }
                //Replace inner HTMl, each element represents a col in grid.
                $("#SimilarReportsR").html(postsR);
                $("#SimilarReportsM").html(postsM);
                $("#SimilarReportsL").html(postsL);

            }
        });
    }



    /*Sends put request, which adds 1 to the votes field of Report 
    *when vote button is pressed
    */
    $("#SimilarReports").click(function (event) {
        var targetArray = event.target.name.split(" ");
        console.log(event.target.name);
        
            $.ajax({
                url: '/changeRating/' + targetArray[0]+"&"+targetArray[1],
                type: 'PUT',
                success: function (result) {
                }
            });
    });

    $("#Rank").click(function (event) {
                getUnrankedReports('/getAllUnrankedReports/');        
    });

    $("#Train").click(function (event) {
            getUnrankedReports('/getAllRankedReports/');
    });



</script>